body {
    background-color: lightblue;
}

section {
    background-color: crimson;
    margin: 40px;
    padding: 40px;
}

p {
    border: 40px solid blue;
    background-color: green;
    color: white;
    padding: 40px;
    margin: 0;
}

